/* ABOUT SUPERIOR */
#about {
  margin-top: 1rem;
  padding: 4rem 0;
  padding-top: 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: auto;
}

.title {
  font-size: 2.3rem;
  position: relative;
  text-shadow: 0 10px 15px var(--primary-color);
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

#div-primero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: auto;
}

#div-primero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    rgb(214, 171, 145),
    rgb(228, 162, 118),
    rgb(167, 53, 0),
    rgb(66, 8, 37),
    rgb(167, 53, 0),
    rgba(228, 162, 118),
    rgba(214, 171, 145)
  );
  border-radius: 15px;
  animation: rotating 4s linear infinite;
  filter: blur(3px);
}

#div-primero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    rgb(214, 171, 145),
    rgb(228, 162, 118),
    rgb(167, 53, 0),
    rgb(66, 8, 37),
    rgb(167, 53, 0),
    rgba(228, 162, 118),
    rgba(214, 171, 145)
  );
  border-radius: 15px;
  animation: rotating 4s linear infinite;
  filter: blur(3px);
}

.about-upper {
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.about-upper span {
  display: block;
  position: absolute;
  background-image: linear-gradient(
      rgba(240, 167, 100, 0.699),
      transparent,
      rgba(221, 94, 20, 0.699)
    ),
    url("../img/fondo-about.jpeg");
  background-size: cover;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about-upper .about-us {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.about-us .about-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: relative;
  color: var(--text-dark);
  padding: 2rem;
  width: 50%;
  z-index: 2;
}

.about-us .about-text .sub-title {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.about-us .about-text .text {
  font-size: 1.6rem;
  text-align: justify;
}

.about-upper .about-us .about-image-div {
  background-image: url("../img/barman.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
  width: 40%;
  height: auto;
  border-radius: 2%;
  z-index: 2;
}

/* MQ */
@media (width < 768px) {
  .about-upper {
    margin: 7rem 0 2rem 0;
  }
  .about-upper .about-us {
    flex-direction: column;
    padding: 1.5rem;
  }

  .about-us .about-text {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .about-us .about-text .sub-title {
    font-weight: bolder;
  }

  .about-us .about-text .text {
    font-weight: bolder;
  }

  .about-upper .about-us .about-image-div {
    width: 100%;
    height: 50vh;
    margin: 0;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

/* ABOUT INFERIOR */
#div-segundo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: auto;
}

.about-lower span {
  display: block;
  position: absolute;
  background-image: linear-gradient(
      rgba(240, 167, 100, 0.699),
      transparent,
      rgba(221, 94, 20, 0.699)
    ),
    url("../img/pexels-polina-tankilevitch-4109747.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
}

.about-lower {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 100%;
  box-shadow: -15px 15px 30px;
}

.about-lower .title {
  padding: 1.25%;
  text-align: center;
  font-weight: bold;
}

.about-lower .contact {
  display: flex;
  padding: 2.5%;
  height: 100%;
}

.contact .contact-map {
  height: 100%;
  width: 50%;
}

.contact-map {
  position: relative;
  width: 100%;
  padding-top: 0;
}

.contact-map iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50vh;
}

.contact .contact-form .sub-title {
  text-align: center;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact .contact-form form {
  width: 100%;
  height: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  color: var(--text-dark);
  font-size: 1.3rem;
}

form .input-container {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

form .input-container label {
  text-align: center;
  font-weight: bold;
}

form .input-container input {
  width: 40%;
  text-align: center;
  margin: auto;
  background: radial-gradient(rgb(255, 220, 197), rgba(240, 167, 100));
  outline: black;
}

form #message-container {
  height: 60%;
}

.input-container #message-input {
  display: flex;
  width: 70%;
  height: 100%;
  margin: auto;
  background: radial-gradient(rgb(255, 220, 197), rgba(240, 167, 100));
  font-size: 1.6rem;
  text-align: start;
  vertical-align: text-top;
  resize: none;
  outline: black;
}

form #send-container input {
  display: inline-block;
  padding: 0.8rem;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  background: grey;
  outline: 1px solid grey;
}

form #send-container input:hover {
  display: inline-block;
  padding: 0.8rem;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  outline: 1px solid black;
  background: rgb(190, 253, 88);
  box-shadow: 2px 2px 5px;
  transition: 1s;
}

/* MQ */
@media (width < 768px) {
  .about-lower .contact {
    flex-direction: column;
    padding: 1.5rem;
  }

  .contact .contact-map {
    height: 100%;
    width: 100%;
  }

  .contact .contact-form {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 1.5rem 1.5rem;
  }

  form .input-container input {
    width: 90%;
  }

  .input-container #message-input {
    width: 100%;
  }
}
