/* ABOUT SUPERIOR */
#about {
    margin-top: 1rem;
    padding: 4rem 0;
    padding-top: 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: auto;
}

#div-primero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: auto;
}

#div-primero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
  border-radius: 15px;
  animation: rotating 4s linear infinite;
  filter: blur(3px);
}

#div-primero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
  border-radius: 15px;
  animation: rotating 4s linear infinite;
  filter: blur(3px);
}

.about-upper {
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.about-upper span {
  display: block;
  position: absolute;
  background-image: linear-gradient(rgba(240, 167, 100, 0.699), transparent,rgba(221, 94, 20, 0.699)), url("../img/fondo-about.jpeg");
  background-size: cover;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about-upper .title {
  font-size: 2.3rem;
  position: relative;
  text-shadow: 0 10px 15px var(--primary-color);
  text-shadow: 0 0 10px var(--mas-white),
                 0 0 25px var(--white),
                 0 0 40px var(--primary-color);
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

.about-upper .about-us {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.about-us .about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: var(--text-dark);
  text-shadow: 0 0 10px var(--mas-white),
                 0 0 25px var(--white),
                 0 0 40px var(--primary-color);
  padding: 2rem;
  padding-top: 0;
  width: 50%;
  z-index: 2;
}

.about-us .about-text .sub-title {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.about-us .about-text .text {
  font-size: 1.6rem;
  text-align: justify;
}

.about-upper .about-us .about-image-div  {
  background-image: url("../img/barman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-left: 2rem;
  width: 40%;
  height: 500px;
  border-radius: 2%;
  z-index: 2;
}

/* ABOUT INFERIOR */
.about-lower {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 60%;
  background-color: rgba(177, 150, 110, 0.699);
  box-shadow: -15px 15px 30px;
}

.about-lower .title {
  padding: 1.25%;
  text-align: center;
  font-weight: bold;
}

.about-lower .contact {
  display: flex;
  padding: 2.5%;
  height: 50vh;
}

.contact .contact-map {
  height: 100%;
  width: 50%;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact .contact-form .sub-title {
  text-align: center;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 2px solid black;
  background-color: white; */
}

.contact .contact-form form {
  width: 100%;
  height: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

form .input-container {
  display: flex;
  flex-direction: column;
  height: 10%;
  /* padding: 2.5% 0 2.5% 0; */
}

form .input-container label {
  text-align: center;
}

form .input-container input {
  width: 40%;
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
}

form #message-container {
  height: 60%;
}

.input-container #message-input {
  width: 70%;
  height: 100%;
}

form #send-container input {
  width: auto;
  height: auto;
}

@media (width < 1000px) {
  .about-upper .about-us { padding: 2rem; }

  .about-us .about-text { 
    width: 100%;
    margin: 0 10%;
    padding: 1rem;
    padding-bottom: 2rem;
    justify-content: center; 
  }

  .about-upper .about-us .about-image-div  {
    display: flex;
    align-self: center;
    width: 100%;
    top: 90%;
    margin: 1rem 10%;
  }
}

@media (width < 768px) {
  .about-upper .about-us { padding: 1rem; }

  .about-us .about-text { margin: 0 5%;}

  .about-upper .about-us .about-image-div { 
    margin: 0 5%;
    margin-bottom: 2rem;
  }
}