#blog {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent,  rgba(26, 3, 0, 0.548), rgba(24, 3, 0, 0.836), rgba(24, 3, 0, 0.836),rgba(24, 3, 0, 0.836), rgba(24, 3, 0, 0.836), rgba(26, 3, 0, 0.548), transparent);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8rem;
    color: var(--white);
}

#blog article {
    font-size: 1.3rem;
    color: var(--mas-white);
    gap: 30px;
}

#blog .cover_art_img {
    width: 85%;
    height: 300px;
    position: relative;
    margin: 2rem 3rem;
}

#blog .cover_art_img::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

#blog .cover_art_img::after {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    background-size: cover;
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

#blog .article__img {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 2;
}

#blog .principal__img {
    width: 100%;
    height: 500px;
    margin: 2rem 0;
    background-position: right;
}

#blog .principal__img .article__img { background-image: url("../img/blog/presentacion-Affogato.jpg"); }

#blog .article__title { 
    text-align: left;
    align-self: flex-start;
    color: #e7cbbd;;
    margin: 1rem 3rem;
    text-shadow: 0px 0px 10px var(--mas-white),
                 03px 0px 25px var(--primary-color);
}

#blog .article__intro .article__title { margin-top: 150px; }

#blog .article__title h1 { 
    font-size: 2.3rem; 
    margin-bottom: 1rem;
    text-shadow: 8px 5px 10px var(--text-dark),
                 13px 10px 25px var(--mas-white),
                 15px 15px 40px var(--primary-color);
}

#blog .article__title h2 { 
    font-size: 1.8rem; 
    margin-bottom: 2rem;
    font-weight: 400;
}

#blog .article__title h3 { 
    font-size: 1.7rem; 
    font-weight: 300;
}

#blog .article__txt {
    margin: 1rem 10%;
    text-align: justify;
}

#blog .article__intro .article__txt { font-size: 1.5rem; }

#blog .blog__anexo .anexo__child { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog .blog__anexo .anexo__child .article__txt p, ul li{  font-weight: 200; }

#blog .blog__anexo {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
}

#blog .anexo__child:nth-child(1) .article__img { 
    background-image: url("../img/blog/preparandoAffogato.jpg");
    background-position: top; 
}

#blog .anexo__child:nth-child(2) .article__img { background-image: url("../img/blog/affogato.jpg"); }
