@media (width > 768px) {
    #blog .article__intro .article__title { margin-top: 0px; }

    #blog .article__intro .article__txt {  margin: 1rem 10rem; }

    #blog .blog__anexo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    #blog .principal__img .article__img { background-position: bottom; }
}

@media (width > 1000px) {
    #blog .article__title { margin: 1rem 5rem;}

    #blog .article__title h1 { font-size: 2.8rem; }

    #blog .cover_art_img { margin: 2rem 0rem; }

    #blog .blog__anexo .anexo__child { width: 50%;}

    #blog .blog__anexo .cover_art_img { width: 450px; }

    /* #blog .blog__anexo .cover_art_img { margin: 2rem 1rem; } */

    #blog .blog__anexo .article__txt { margin: 1rem 5rem; }
}

@media (width > 1400px) {
    #blog .article__title h1 { font-size: 3rem; }

    #blog .article__title h2 { font-size: 2.2rem; }

    #blog .article__title h3 { font-size: 2rem; }

    #blog .article__intro .article__txt { font-size: 2rem; }

    #blog .blog__anexo .anexo__child .article__txt p, ul li{  font-size: 1.5rem; }

    #blog .blog__anexo .cover_art_img { 
        width: 600px;
        height: 450px;
    }
}