footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    list-style: none;
    background-color: transparent;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: transparent;
}

.socials li {
    position: relative;
    display: block;
    color: #bea297;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 15px;
    background: rgb(26, 5, 0);
    cursor: pointer;
    transition: .5s;
}

footer div span {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    margin: 1rem 15px;
    cursor: pointer;
}


/*  Los Before de los li */
.socials li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}

.socials li:nth-child(1):before {
    background: #1278c2;
}

.socials li:nth-child(2):before {
    background: #1DA1F2;
}

.socials li:nth-child(3):before {
    background: #E1206C;
}

.socials li:nth-child(4):before {
    background: #0dc92c;
}

.socials li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

.socials li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #1b47c0;
}

.socials li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #1DA1F2;
}

.socials li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #E1306C;
}

.socials li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #0ff135;
}


/* Los Hover de los li */
.socials li:nth-child(1):hover {
    columns: #2059ca;
    box-shadow: 0 0 15px #1596f3;
    text-shadow: 0 0 15px #0a76c4;
}

.socials li:nth-child(2):hover {
    columns: #79cbff;
    box-shadow: 0 0 15px #0ef4fc;
    text-shadow: 0 0 15px #1DA1F2;
}

.socials li:nth-child(3):hover {
    columns: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
}

.socials li:nth-child(4):hover {
    columns: #0dc92c;
    box-shadow: 0 0 15px #0ff135;
    text-shadow: 0 0 15px #0ff135;
}

@media (width < 768px) {
    .container.gale__content footer {
        margin-top: 6rem;
    }
}