#expositor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-image: linear-gradient(to bottom, transparent, rgba(19, 2, 0, 0.548), rgb(19, 2, 0, 0.548), rgba(19, 2, 0, 0.548), transparent);
}

.container__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fondo__card {
    width: 120px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.fondo__card .card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    color: var(--mas-white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

#exp-ini { display: none; }

#exp-var { display: flex; }

#exp-comb { display: none; }

#exp-sab { display: none; }

#exp-instru { display: none; }

#exp-produ { display: none; }

.container__card .fondo__card:nth-child(1) { height: 480px; }

.container__card .fondo__card:nth-child(2) { height: 560px; }

.container__card .fondo__card:nth-child(3) { height: 665px; }

.container__card .fondo__card:nth-child(4) { height: 560px; }

.container__card .fondo__card:nth-child(5) { height: 480px; }

.container__card .fondo__card:nth-child(1) .card { background-image: url("../img/nosotros/prod1.jpg"); }

.container__card .fondo__card:nth-child(2) .card { background-image: url("../img/nosotros/prod2.jpg"); }

.container__card .fondo__card:nth-child(3) .card { background-image: url("../img/nosotros/prod3.jpg"); }

.container__card .fondo__card:nth-child(4) .card { background-image: url("../img/nosotros/prod4.jpg"); }

.container__card .fondo__card:nth-child(5) .card { background-image: url("../img/nosotros/prod5.jpg"); }

#exp-var .fondo__card:nth-child(1) .card { background-image: url("../img/variedad/prod1.jpg"); }

#exp-var .fondo__card:nth-child(2) .card { background-image: url("../img/variedad/prod2.jpg"); }

#exp-var .fondo__card:nth-child(3) .card { background-image: url("../img/variedad/prod3.jpg"); }

#exp-var .fondo__card:nth-child(4) .card {
    background-image: url("../img/variedad/prod4.jpg");
    background-position: left;
}

#exp-var .fondo__card:nth-child(5) .card { background-image: url("../img/variedad/prod5.jpg"); }

#exp-comb .fondo__card:nth-child(1) {
    width: 25%;
    height: 560px;
}

#exp-comb .fondo__card:nth-child(2) {
    width: 25%;
    height: 665px;
}

#exp-comb .fondo__card:nth-child(3) {
    width: 25%;
    height: 560px;
}

#exp-comb .fondo__card:nth-child(1) .card { background-image: url("../img/combos/prod1.jpg"); }

#exp-comb .fondo__card:nth-child(2) .card { background-image: url("../img/combos/prod2.jpeg"); }

#exp-comb .fondo__card:nth-child(3) .card { background-image: url("../img/combos/prod3.jpg"); }

#exp-sab .fondo__card:nth-child(1) .card { background-image: url("../img/bar/prod1.jpg"); }

#exp-sab .fondo__card:nth-child(2) .card { background-image: url("../img/bar/prod2.jpg"); }

#exp-sab .fondo__card:nth-child(3) .card { background-image: url("../img/bar/prod3.jpg"); }

#exp-sab .fondo__card:nth-child(4) .card { background-image: url("../img/bar/prod4.jpg"); }

#exp-sab .fondo__card:nth-child(5) .card { background-image: url("../img/bar/prod5.jpg"); }

#exp-instru .fondo__card:nth-child(1) .card { background-image: url("../img/instrumentos/prod1.jpg"); }

#exp-instru .fondo__card:nth-child(2) .card { background-image: url("../img/instrumentos/prod2.jpg"); }

#exp-instru .fondo__card:nth-child(3) .card { background-image: url("../img/instrumentos/prod3.jpg"); }

#exp-instru .fondo__card:nth-child(4) .card {
    display: flex;
    background-image: url("../img/instrumentos/prod4.jpg");
}

#exp-instru .fondo__card:nth-child(4) .card { background-image: url("../img/instrumentos/prod4.jpg"); }

#exp-instru .fondo__card:nth-child(5) .card { background-image: url("../img/instrumentos/prod5.jpg"); }

.fondo__card .card h1 {
    font-size: 35px;
    font-weight: 700;
    width: 300px;
    text-transform: uppercase;
    position: absolute;
    text-shadow: 0 0 10px var(--text-dark),
                 0 0 25px var(--primary-color);
    top: 50%;
    left: -90%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

#exp-comb h1 { left: -50%; }

.fondo__card .card .info__card {
    color: var(--text-dark);
    width: 60%;
    transition: all 0.7s ease;
}

.info__card h2 {
    font-size: 0px !important;    
    margin-bottom: 1rem;
    text-align: left;
    line-height: 44px;
    text-transform: uppercase;
    transition: 0.7s ease;
}

.info__card p {
    font-size: 0px !important;    
    text-align: left;
    line-height: 33px;
    text-transform: uppercase;
    transition: 0.7s ease;
}

.container__card .fondo__card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(250, 213, 190), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(250, 213, 190));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
}

.container__card .fondo__card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgba(250, 213, 190), rgba(228, 162, 118), rgba(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(250, 213, 190));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
    opacity: 0.75;
} 

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotating {
    0% { --a: 0deg; }
    100% { --a: 360deg; }
}

.fondo__card:hover {
    width: 100% !important;
    height: 100% !important;
    box-shadow: 15px 15px 5px rgba(19, 2, 0, 0.664);
    background: transparent;
    animation: none;
    z-index: 10;
}

.fondo__card:hover .card { z-index: 100; }

.fondo__card:hover h1 { display: none; }

.fondo__card:hover .info__card {
    text-shadow: 0 0 10px var(--mas-white),
                 0 0 25px var(--white),
                 0 0 40px var(--primary-color);
    transition: all 0.3s ease-in-out;
}

/* .fondo__card:hover .info__card {
    transform: translateY(0%);
    transition: all 1s ease;
} */

.fondo__card:hover .info__card h2 {
    font-size: 1.8rem !important;
    font-weight: 600;
    transition: all 1s ease;
}

.fondo__card:hover .info__card p {
    font-size: 1rem !important;
    font-weight: 600;
    transition: all 1s ease;
}