#index {
    margin-top: 1rem;
    padding: 4rem 0;
    padding-top: 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, transparent, rgba(19, 2, 0, 0.548), rgba(19, 2, 0, 0.158), rgba(19, 2, 0, 0.548), transparent);
}

/* Poster */
#poster {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 87px;
    width: 100%;
    height: 600px;
}

#poster::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

#poster::after {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

#poster-flex {
    background-image: linear-gradient(rgba(44, 15, 2, 0.548), transparent,  rgb(19, 2, 0, 0.548)), url("../img/home/fondo-poster.jpg");
    background-size: cover;
    position: absolute;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#poster-text { 
    width: 90%;
    height: 90%;
    text-align: left;
    color: var(--mas-white);
    text-shadow: 0 0 10px var(--text-dark),
                 0 0 25px var(--primary-color);
}

#poster-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 2rem;
    margin-right: 40%;
    text-shadow: 10px 15px 15px var(--text-dark),
                    10px 15px 30px var(--primary-color);
}

#poster-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#poster-p2 { 
    display: none;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

#poster-p3 { 
    display: none;
    margin-left: 40%;
    margin-right: 2rem;
}

#poster-p1, #poster-p4 { 
    margin-left: 2rem;
    margin-right: 40%;
}

#poster-p4 {
    font-size: 2.3rem !important;
}



/* #poster-carousel {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: #884646;
    overflow: hidden;
    z-index: 1;
}

#poster-carousel .slides {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    height: 100%;
    animation: slide-animation 30s infinite;
    z-index: 1;
}

.cover__slide {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100% !important;
    height: 100%;
    margin: 0;
    border-radius: 15px;
}

.cover__slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../img/home/img1.jpg");
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

.cover__slide::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../img/home/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

.cover__slide:nth-child(2)::before { background-image: url("../img/home/img2.jpg"); }

.cover__slide:nth-child(2)::after { background-image: url("../img/home/img2.jpg"); }

.cover__slide:nth-child(3)::before { background-image: url("../img/home/img3.jpg"); }

.cover__slide:nth-child(3)::after { background-image: url("../img/home/img3.jpg"); }

.cover__slide:nth-child(4)::before { background-image: url("../img/home/img4.jpg"); }

.cover__slide:nth-child(4)::after { background-image: url("../img/home/img4.jpg"); }

.cover__slide:nth-child(5)::before { background-image: url("../img/home/img5.jpeg"); }

.cover__slide:nth-child(5)::after { background-image: url("../img/home/img5.jpeg"); }

.cover__slide .slide {
    display: block;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.cover__slide .slide:first-child { background-image: url("../img/home/img1.jpg"); }

.cover__slide .slide:nth-child(2) { background-image: url("../img/home/img2.jpg"); }

.cover__slide .slide:nth-child(3) { background-image: url("../img/home/img3.jpg"); }

.cover__slide .slide:nth-child(4) { background-image: url("../img/home/img4.jpg"); }

.cover__slide .slide:nth-child(5) { background-image: url("../img/home/img5.jpeg"); } */



/* #poster-carousel #poster-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
} */

/* #poster-carousel #poster-nav label {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
} */

/* input[type="radio"] { display: none; }

input[type="radio"]:checked ~ .slides { transform: translateX(calc(var(--i) * -100%)); }

input[type="radio"]#slide1:checked ~ .slides { --i: 0; }

input[type="radio"]#slide2:checked ~ .slides { --i: 1; }

input[type="radio"]#slide3:checked ~ .slides { --i: 2; } */

@keyframes slide-animation {
    0%, 100% { transform: translateX(0%); }
    25%, 75% { transform: translateX(-59.3%); }
}

/* Productos */
.tienda {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: var(--mas-white);
    padding-bottom: 2rem;
    overflow: hidden;
    text-align: center;
}

.tienda h2 {
    font-size: 3rem;
    margin: 3% 0;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: 10px 15px 15px var(--text-dark),
                    10px 15px 30px var(--primary-color);
}

.tiendas__galeria {
    display: flex;
    position: relative;
    justify-content: space-between;
    border-radius: 15px;
    width: 90%;
}

.cover__slide {
    display: none;
    flex: 0 0 100%;
    max-width: 100%;
    height: 400px;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cover__slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

.cover__slide::after {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgb(214, 171, 145), rgb(228, 162, 118), rgb(167, 53, 0), rgb(66, 8, 37), rgb(167, 53, 0), rgba(228, 162, 118), rgba(214, 171, 145));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    animation: rotating 4s linear infinite;
    filter: blur(3px);
}

input[type="radio"] { display: none; }

input[type="radio"]:nth-of-type(1):checked ~ .cover__slide:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .cover__slide:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .cover__slide:nth-of-type(3),
input[type="radio"]:nth-of-type(4):checked ~ .cover__slide:nth-of-type(4) { display: flex; }

.cover__slide .slide {
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    top: 0;
    left: 0;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#slide1:checked ~ .cover__slide:nth-of-type(1) .slide { background-image: url("../img/home/img1.jpg"); }

#slide2:checked ~ .cover__slide:nth-of-type(2) .slide { background-image: url("../img/home/img2.jpg"); }

#slide3:checked ~ .cover__slide:nth-of-type(3) .slide { background-image: url("../img/home/img3.jpg"); }

#slide4:checked ~ .cover__slide:nth-of-type(4) .slide { background-image: url("../img/home/img4.jpeg") }

.tienda__card {
    color: var(--mas-white);
    text-shadow: 0 0 10px var(--text-dark),
                 0 0 25px var(--primary-color);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.tienda__card h3 { 
    font-size: 2.2rem;
    margin-top: 4rem;
}

.tienda__card p { font-size: 1.8rem;}


.index__button { 
    width: 200px;
    border-radius: 5px;
}

.index__button a {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s;
    color: var(--mas-white);
    text-align: center;
    transition: transform 0.5s ease-out;
}

.index__button:hover {
    background-color: rgba(34, 7, 0, 0.795);   
    box-shadow: 0 0 5px #723214,
                0 0 25px #e4aa8f,
                0 0 50px #360f00, 
                0 0 200px #301b02;
    text-shadow: 0 0 10px var(--text-dark),
                 0 0 25px var(--mas-white);
    overflow: hidden;
    transform: scale(120%);
    transition: all 0.6s ease-in-out;
}

/* Botones de tienda */
.index__button .nav__a span {
    display: flex;
    position: relative;
    height: 0.1px;
    background-color: #f1dacf;
}

.index__button .nav__a span:nth-child(1) {
    top: 4px;
    width: 100%;
    
}

.index__button .nav__a:hover span:nth-child(1) {
    transform: translateY(-20px);
    background-color: #805939;
    transition: transform 0.6s ease;
}

.index__button .nav__a span:nth-child(2) {
    left: -15px;
    top: 28px;
    width: 125%;
}

.index__button .nav__a:hover span:nth-child(2) {
    transform: translateX(-210%);
    transition: transform 0.6s ease-in-out;
}

.index__button .nav__a span:nth-child(3) {
    right: 5px;
    top: 28px;
    width: 125%;
}

.index__button .nav__a:hover span:nth-child(3) {
    transform: translateX(200%);
    transition: transform 0.6s ease-in-out;
}

.index__button .nav__a span:nth-child(4) {
    bottom: 0px;
    width: 100%;
    height: 0.5px;
}

.index__button .nav__a:hover span:nth-child(4) {
    transform: translateY(25px);
    background-color: #805939;
    transition: transform 0.6s ease-in-out;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-buttons label {
    background-image:radial-gradient(rgb(26, 5, 0), transparent, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    cursor: pointer;
}

/* Quienes Somos */
.blog-us {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}
.blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog__content img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blog__content p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}
