@media (width < 643px) {
    #poster-text h1 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    #poster-p1, #poster-p4{ 
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    .carousel-buttons { top: 87%;}
}

@media (width > 642px) {
    .carousel-buttons { transform: translateY(0%);}
}

@media (width < 768px) {
    #index .blog__content:hover { left: 0;}
    
    #index .blog__content:hover .blog__text {
        height: 400px;
        left: 0;
        top: 43.5%;
    }
}

@media (width > 768px) {
    #poster { margin-top: 0; }

    #poster-text { height: 80%; }

    .carousel-buttons { 
        top: 87%;
        transform: translateY(-50%);
    }

    .blog__content:hover {
        width: 600px;
        height: 300px;
    }

    #index .blog__content:nth-child(odd) .blog__text { left: -51%; }

    #index .blog__content:nth-child(odd) .blog__cover { right: 0%; }
}

@media (width > 1000px) {
    #poster-text h1 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    #poster-p3 { display: block;}
    
    #poster-p4 { 
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        bottom: 5%;
        text-align: center;
    }

    .tiendas__galeria { height: 500px;}

    .tiendas__galeria .cover__slide { height: 100%;}

    .tienda__card h3 { font-size: 2.5rem;}

    #index .tienda__card p { font-size: 2rem;}

    .index__button a { font-size: 2rem;}

    .index__button .nav__a span:nth-child(2) { top: 28px; }
    
    .index__button .nav__a span:nth-child(3) { top: 28px; }

    .carousel-buttons label {
        width: 50px;
        height: 50px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    #index .blog__content h4 { font-size: 2rem; }
    
    #index .blog__content .blog__button a { font-size: 1.8rem; }
}

@media (width > 1384px) {
    #poster-text { margin-bottom: 4rem; }

    #poster-p2 { display: block;}

    #poster-p4 { margin-top: 2rem };
}

@media (width > 1561px) {
    #poster-text { margin-bottom: 0; }
}

@media (hover: none) {
    .carousel-buttons {
        display: none;
    }
}