@media (width < 643px) {
    #poster-text h1 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    #poster-p1, #poster-p4{ 
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }
}

@media (width < 769px) {
    #index .blog__content:hover { left: 0;}
    
    #index .blog__content:hover .blog__text {
        height: 400px;
        left: 0;
        top: 43.5%;
    }

    .tienda__card { gap: 30px; }

    .carousel-btns { transform: translateY(0%);}
}

@media (width > 768px) {
    #poster { margin-top: 0; }

    #poster-text { height: 80%; }

    .carousel-btns { 
        top: 87%;
        transform: translateY(-50%);
    }

    .blog__content:hover {
        width: 500px;
        height: 300px;
        left: -15%;
    }

    .blog__content:nth-child(odd):hover { left: 15%; }

    #index .blog__content:hover .blog__text { 
        left: 61%; 
        width: 400px;
    }

    #index .blog__content:nth-child(odd) .blog__text { left: -61%; }

    #index .blog__content:nth-child(odd) .blog__cover { right: 0%; }

    #index .blog__content .pepe {
        display: block;
        position: absolute;
        padding: 2rem 2rem;
        font-size: 2rem;
        width: 400px;
        height: 200px;
        left: 100%;
    }

    #index .blog__content:nth-child(odd) .pepe {
        padding: 2rem 2rem;
        left: -400%;
    }

    #index .blog__content:hover .pepe { 
        left: 200%;
        transition: all 0.5s ease-in-out;
    }
}

@media (width > 1000px) {
    #poster-text h1 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    #poster-p3 { display: block;}
    
    #poster-p4 { 
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        bottom: 5%;
        text-align: center;
    }

    .tiendas__galeria { height: 500px;}

    .tiendas__galeria .cover__slide { height: 100%;}

    .tienda__card h3 { font-size: 2.5rem;}

    #index .tienda__card p { font-size: 2rem;}

    .index__btn a { font-size: 2rem;}

    .index__btn .nav__a span:nth-child(2) { top: 28px; }
    
    .index__btn .nav__a span:nth-child(3) { top: 28px; }

    .carousel-btns label {
        width: 50px;
        height: 50px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    #index .blog__content h4 { font-size: 2rem; }
    
    #index .blog__content .blog__btn a { font-size: 1.8rem; }
}

@media (width > 1200px) {
    #index .blog__content:hover { left: -25%; }

    #index .blog__content:nth-child(odd):hover { left: 25%; }

    #index .blog__content:hover .pepe { left: 140%; }

    #index .blog__content:nth-child(odd):hover .pepe { left: -120%; }    
}

@media (width > 1384px) {
    #poster-text { margin-bottom: 4rem; }

    #poster-p2 { display: block;}

    #poster-p4 { margin-top: 2rem };
}

@media (width > 1561px) {
    #poster-text { margin-bottom: 0; }
}

@media (hover: none) {
    .carousel-btns {
        display: none;
    }
}