@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');
@font-face {
    font-family: 'coffee+tea demo';
    src: url('../font/coffee+teademo-Regular.ttf') format('truetype');
}

:root {
    --primary-color: #361201;
    --text-dark: #201404;
    --white: #c2a89e;
    --mas-white: #eed9d0;
}

* {
    font-family: "coffee+tea demo", "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(transparent, transparent,rgba(29, 4, 0, 0.699)),
    url("../img/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: scroll;
    font-weight: 400;
    font-style: normal;     
}

body .container {
    height: 1300px;
    overflow: hidden;
}

body .container.gale__content {
    height: auto;
}

main {
    transition: all 0.4s ease-in;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

h2 {
    font-weight: 400;
    font-style: normal;
}

.socials > div {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (width > 768px) {
    .socials > div {
        justify-content: flex-start;
    }
}